<div class="drawer-side" style="z-index: 10;">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-300 text-base-content">
      <!-- Sidebar content here -->
      <h1 class="text-2xl font-bold text-center ">My Work</h1>
      <br>
      <li><a href="https://github.com/openrepairs"><i class="bi bi-tools"></i> OpenRepairs</a></li>
      <li><a href="https://www.flickr.com/photos/samneale/"><i class="bi bi-camera-fill"></i> Photography</a></li>
      <!-- <li><a href="#projects"><i class="bi bi-code-slash"></i> Projects</a></li>-->
      <li><a onclick="document.getElementById('drawerButton').click(); my_modal_5.showModal();"><i class="bi bi-chat-dots"></i> Contact</a></li>

      <!-- Open the modal using ID.showModal() method -->
    </ul>
  </div>