@font-face {
    font-family: 'SF_PD_Regular';
    src: url('/public/fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF_PD_Black';
    src: url('/public/fonts/SF-Pro-Display-Black.otf') format('opentype');
}

@font-face {
    font-family: 'SF_PD_Bold';
    src: url('/public/fonts/SF-Pro-Display-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'SF_PD_Heavy';
    src: url('/public/fonts/SF-Pro-Display-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'SF Mono';
    src: url('/public/fonts/SF-Mono-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/public/fonts/SF-Mono-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/public/fonts/SF-Mono-Heavy.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/public/fonts/SF-Mono-Black.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/public/fonts/SF-Mono-Light.otf') format('opentype');
    font-weight: 300;
}

.mono {
    font-family: 'SF Mono', monospace;
}

@font-face {
    font-family: 'New York';
    src: url('/public/fonts/NewYork.otf') format('opentype');
    font-weight: normal;
}

.new-york {
    font-family: 'New York', serif;
}