@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Frank+Ruhl+Libre:wght@300..900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.baskervville {
  font-family: "Baskervville", serif;
  font-style: normal;
}

.baskervville-italic {
  font-family: "Baskervville", serif;
  font-style: italic;
}
.inria-serif {
  font-family: "Inria Serif", serif;
  font-style: normal;
}

.inria-serif-italic {
  font-family: "Inria Serif", serif;
  font-style: italic;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.frank-ruhl-libre {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
